.side-navbox h2{
	font-size:100%;
	margin-bottom:10px;	
	color:#000;
}

.side-navbox a{
	font-size:85%;
	color:#6C6C6C;
	font-weight:normal;
	
}
.side-navbox img{
	
	width:32px;
	height:16px;
	margin-left:3px;
	margin-bottom:3px;
	display:inline-block;
}
#content{
    top:-30px;	
	max-width:1000px;
	position:relative;
	width: 100%;
	margin: 0 auto;
	vertical-align:middle;	
	}

#content-side{	
	position:relative;
	width:18%;
	left:0px;
	float:left;	
	padding-top:5px;
	padding-right:5px;
	padding-left:5px;

}

.side-ad{	
	border-bottom:1px solid #000;	
	width:200px;
	height:	110px;
	margin-bottom:10px;	
}

.side-ad img{
	width:200px;
	height:	110px;		
}

.side-navbox{
	border-bottom:1px solid #000; 	
	width:99%;
	padding:5px;
	margin-bottom:5px;
	text-decoration: none;	
	font-family: sans-serif;
    font-weight:bolder;
	line-height:130%;	
}

#side-navbox-newarrivals{
	
}


#side-navbox-brand{
	
	text-transform:uppercase;
	
}

#side-navbox-collection{
		
}

#content-main{ 
	position:relative;
	width:79%;
	float:right;
	padding-top:5px;
}

.main-branner{
	position:relative;
	
	width:770px;
	height:360px;
	margin-bottom:5px;
	margin-right:5px;
}

.main-branner img{
	width:770px;
	height:360px;
}

.text-branner{
	display:none;
	position:relative;	
	width:770px;
	height:114px;
	margin-bottom:5px;
	margin-left:8px;
	margin-right:5px;
}

.text-branner img{
	
}

.main-subbranner{
	position:relative;	
	width:770px;
	height:360px;
	margin-bottom:5px;
	margin-right:5px;
}

.sub-branner1{
	
	width:250px;
	height:360px;
	float:left;
	margin-right:10px;	
	margin-bottom:5px;
}

.sub-branner2{
	
	width:250px;
	height:360px;
	float:left;

	margin-bottom:5px;
}

.sub-branner3{
	
	width:250px;
	height:360px;
	float:left;
	margin-left:10px;	
	margin-bottom:5px;
}

.sub-branner img{
	width:250px;
	height:360px;
}