header {
    z-index:2;
    position:relative;
    /*background-color: #303030;*/
    border-bottom:2px solid #CDCDCD;
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
    padding-top:1px;
    padding-bottom: 5px;
    padding-left:5px;
    padding-right:5px;
}
a {
    text-decoration: none;
    color:inherit;
}
a.link-cart {
    padding-left:23px;
    background-image:url(../img/bag.png);
    background-repeat:no-repeat;
    padding-top:7px;
}
/* header logo */
#header-logo a{   
  
    display: inline-block;
    vertical-align:middle;

}

#header-logo img{
	width:400px;
	height:103px;
	position:10px center;
	display: inline-block;
	vertical-align:middle;
	
}

#header-logo a h1 {
    display:none;
}
/* end header logo */

/* header topmenu */
#header-topmenu {
    float:right;
    position:relative;
    padding-top:15px;
    color:#A9A9A9;
    font-size:13px;
}
#header-topmenu a,#header-topmenu a:visited {
    text-decoration:none;
    color:#A9A9A9;
    margin-right:5px;
}
#header-topmenu a:active,#header-topmenu a:focus, #header-topmenu a:hover {
    color:#525252;
}
#header-topmenu input[type="text"] {
    border: 1px solid #A9A9A9;
    color: #525252;
    width: 180px;
}
#header-topmenu input[type="button"] {
    border:none;
    background-color:black;
    color:white;
    border-radius:.2em;
    height:17px;
}
#header-topmenu span.lang-link a{
    text-decoration:underline;
    margin-left:0px !important;
    margin-right:0px !important;	
}

#header-topmenu span.lang-link img{
	
	margin-top:0px;
}

/* end header topmenu */
/* header nav bar */
div.header-nav-bar {
    position:relative;
    top:-34px;
    height: 40px;
    font-size:90%;
}
/* header nav */
#header-nav {
    float:left;
    left:200px;
}
#header-nav span.nav-cat-top {
    font-weight:bold;
    width:80px;
	height:30px;
    text-align:center;
    line-height:25px;
    padding-top:15px;
    display: inline-block;
    border-top-left-radius: .3em;
    border-top-right-radius: .3em;
	float:left;
}
#header-nav span.nav-cat-top .submenu{
	display:none;
	width:300px;
	background-color:white;
	color:#777;
	border-top:solid 3px #000;
	text-align:left;
	padding-top:5px;
	padding-left:10px;
	font-weight:normal;
	border-bottom-left-radius: .2em;
	border-bottom-right-radius: .2em;
	-moz-box-shadow: -2px 0px 4px #888;
    -webkit-box-shadow: -2px 0px 4px #888;
    box-shadow: -2px 0px 4px #888;
	font-size:90%;
}

#header-nav span.nav-cat-top:hover .submenu{
	display:block;
	line-height:150%;
	width:400px;
	padding-bottom:8px
}
/*
#header-nav span.nav-cat-top .submenu a{
	/*display:block;
	-moz-column-count:2;
	-moz-column-gap:40px;
	-webkit-column-count:2;
	-webkit-column-count:40px;
	column-count:2;
	column-gap:40px;
	
}*/

#header-nav span.nav-cat-top .submenu a:hover {
	color:black;
}

#header-nav span.nav-cat-top:hover {
    background-color:#2D2D2D;
    color:white;
    -moz-box-shadow: -2px -1px 4px #888;
    -webkit-box-shadow: -2px -1px 4px #888;
    box-shadow: -2px -1px 4px #888;
}

#header-nav span.nav-cat-top-active {
    background-color:#2D2D2D;
    color:white;
    -moz-box-shadow: -2px -1px 4px #888;
    -webkit-box-shadow: -2px -1px 4px #888;
    box-shadow: -2px -1px 4px #888;
}
/* end header nav */
/* header menu */
#header-menu {
    float:right;
}
#header-menu span.menu-item {
    font-weight:bold;
    text-align:center;
    line-height:25px;
    padding-top:15px;
    display: inline-block;
    border-top-left-radius: .3em;
    border-top-right-radius: .3em;
    margin-left:5px;
}
#header-menu span.menu-item .txt-detail{
    font-weight:200;
    font-size:90%;
}

/* end header menu */
/* end header nav bar */