/* general */

html.admin { 
	background: url(../img/admin-bg.png) repeat;
}

body{
    line-height: 1;
    font-weight: 300;
    font-family: sans-serif;
    color:#333;
}

a, a:active, a:visited {
    color:#EE008A;
    text-decoration: none;
}

.wrapper{
    min-width:780px;
    margin: 0 auto;
    padding: 0;
}


.box {
    background-color:white;
    padding: 10px;
}

.section-header {
    background-color:rgba(255,255,255,0.4);
    font-weight:bold;
}

h1 {
    color:#333;
    font-size:large;
    margin-bottom:20px;
}

/* end general */

/* header */

#header{
    z-index:2;
    position:relative;
    /*background-color: #303030;*/
    background-color:#FFF;
    border-bottom:1px solid silver;
    -moz-box-shadow: 0px 2px 5px #888;
    -webkit-box-shadow: 0px 2px 5px #888;
    box-shadow: 0px 2px 5px #888;
}

#header-wrapper{
    background-color:#FFF;
    /*background-color: #303030;*/
}

header {
    position:relative;
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
    padding-bottom: 10px;
    height:22px;
}

/* header. navigation bar */

header nav {
    float: right;
}

header nav ul, nav ul li {
    margin: 0;
    list-style: none;
    list-style-image: none;
}

header nav ul li {
    display: block;
    margin-right: 20px;
    font-size: 90%;
    float: left;
}


header nav ul li a, a:active, a:visited {
    
    text-align:center;
    display: block;
    color: #EE008A;
    white-space: nowrap;
    padding-top: 5px;
    margin-top: 3px;
}


a.logo {
	position:absolute;
    background: url(../img/gear-icon.png) no-repeat 0 0;
    display: block;
    height: 20px;
    width: 270px;
    border: none;
    padding: 0px;
    float: left;
    color: white;
    line-height:20px;
    margin-top:5px;
}

a.logo h1{
    margin-left:24px;
    font-weight:normal;
    font-size:medium;
    color:#EE008A;
}

/* end header.navigation-bar */
/* end header */

/* content */
#content {
    z-index:1;
    position:relative;
}

#content-wrapper{
    margin-top:3px;
}
#content-detail {
	max-width: 900px;
	min-height: 350px;
	width: 100%;
	margin: -5px auto;
	position: relative;
	padding: 30px 20px 30px 30px;
	background-color: white;
	-moz-box-shadow: 0px 4px 7px #888;
	-webkit-box-shadow: 0px 4px 7px #888;
	box-shadow: 0px 4px 7px #888;
	border-radius:.2em;
}

/* end content */

/* report */
/* report filter */
div.report-filter {
	margin-bottom:10px;
}
div.report-filter fieldset {
	border: solid 1px silver;
	border-left: none;
	border-right: none;
}
div.report-filter fieldset legend {
	color:#555;
	font-size:85%;
}
/* end report filter */
/*report items*/
div.report-items {
	margin-bottom:10px;
}
div.report-items table {
	border-width: 1px;
	border-spacing: 0px;
	border-style: solid;
	border-color: #555;
	border-collapse: collapse;
	background-color: white;
	font-size:85%;
	width:100%;
	border-left:none;
	border-right:none;
}
div.report-items table th{
	text-align:left;
	min-height:50px;
	padding:5px;
	border-width: 1px;
	border-style: solid;
	border-color: silver;
	background-color: #FDFDFD;
	font-weight:normal !important;
	padding-left:20px;
	border-left:none;
	border-right:none;
}
div.report-items table td {
	border-width: 1px;
	border-style: solid;
	border-color: silver;
	text-align:left;
	background-color:white;
	padding:5px;
	border-left:none;
	border-right:none;
}
div.report-items table tr.even td{
    background-color:#FEF0FF;
}
div.report-items table th.header {
    background-position:0% center !important;
    background-image: url(../img/asc-desc.gif);     
    cursor: pointer; 
    font-weight: bold; 
    background-repeat: no-repeat; 
    background-position: center left;
}

div.report-items table th.headerSortUp {
    background-position:0% 50% !important;
    background-image: url(../img/asc.gif);
}

div.report-items table th.headerSortDown {
    background-position:0% 50% !important;
    background-image: url(../img/desc.gif);
}

/* end report items */
/* report action */
div.report-action {
	margin-bottom:10px;
}
div.report-action fieldset {
	border: solid 1px silver;
	border-left: none;
	border-right: none;
}
div.report-action fieldset legend {
	color:#555;
	font-size:85%;
}
/* end report action */
/* end report */