/* general */

html.admin { 
	background: url(../img/admin-bg.png) repeat;
}

body{
    line-height: 1;
    font-weight: 300;
    font-family: sans-serif;
    color:#333;
}

a, a:active, a:visited {
    color:#EE008A;
    text-decoration: none;
}

.wrapper{
    min-width:780px;
    margin: 0 auto;
    padding: 0;
}


.box {
    background-color:white;
    padding: 10px;
}

.section-header {
    background-color:rgba(255,255,255,0.4);
    font-weight:bold;
}

h1 {
    color:#333;
    font-size:large;
    margin-bottom:20px;
}

h2 {
	color:#333;
	font-size:medium;
	margin-bottom:20px;
}


.button {
	font-family:inherit;
	margin:0px;
    font-weight:300;
    cursor:pointer;
    color:#333;
    line-height:25px;
    font-size:90% !important;
    text-align:center;
    display:inline-block;
    border:solid 1px silver;
    height:25px;
    padding:0px 5px 0px 5px;
    border-radius:.2em;
    background: rgb(255,255,255); /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjYzJSIgc3RvcC1jb2xvcj0iI2Y5ZjlmOSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmNGY0ZjQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(249,249,249,1) 63%, rgba(244,244,244,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(63%,rgba(249,249,249,1)), color-stop(100%,rgba(244,244,244,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(249,249,249,1) 63%,rgba(244,244,244,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(249,249,249,1) 63%,rgba(244,244,244,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(249,249,249,1) 63%,rgba(244,244,244,1) 100%); /* IE10+ */
    background: linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(249,249,249,1) 63%,rgba(244,244,244,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f4f4f4',GradientType=0 ); /* IE6-8 */
}

input.button {
	height:27px !important;
}
.button:visited{
	color:#333;
}
.button img {
	width:15px;
	height:15px;
	margin-top:5px;
	float:left;
	position:relative;
	margin-right:2px;
}
.button:hover {
    border:solid 1px #999;
    background: rgb(255,255,255); /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIzOCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSI4MSUiIHN0b3AtY29sb3I9IiNmNmY2ZjYiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjZWRlZGVkIiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
    background: -moz-linear-gradient(top,  rgba(255,255,255,1) 38%, rgba(246,246,246,1) 81%, rgba(237,237,237,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(38%,rgba(255,255,255,1)), color-stop(81%,rgba(246,246,246,1)), color-stop(100%,rgba(237,237,237,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 38%,rgba(246,246,246,1) 81%,rgba(237,237,237,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(255,255,255,1) 38%,rgba(246,246,246,1) 81%,rgba(237,237,237,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(255,255,255,1) 38%,rgba(246,246,246,1) 81%,rgba(237,237,237,1) 100%); /* IE10+ */
    background: linear-gradient(top,  rgba(255,255,255,1) 38%,rgba(246,246,246,1) 81%,rgba(237,237,237,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=0 ); /* IE6-8 */
    color:#333;
}

.button:active {
    background: rgb(237,237,237); /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2VkZWRlZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjE5JSIgc3RvcC1jb2xvcj0iI2Y2ZjZmNiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjcyJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
    background: -moz-linear-gradient(top,  rgba(237,237,237,1) 0%, rgba(246,246,246,1) 19%, rgba(255,255,255,1) 72%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(237,237,237,1)), color-stop(19%,rgba(246,246,246,1)), color-stop(72%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(237,237,237,1) 0%,rgba(246,246,246,1) 19%,rgba(255,255,255,1) 72%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(237,237,237,1) 0%,rgba(246,246,246,1) 19%,rgba(255,255,255,1) 72%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(237,237,237,1) 0%,rgba(246,246,246,1) 19%,rgba(255,255,255,1) 72%); /* IE10+ */
    background: linear-gradient(top,  rgba(237,237,237,1) 0%,rgba(246,246,246,1) 19%,rgba(255,255,255,1) 72%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ededed', endColorstr='#ffffff',GradientType=0 ); /* IE6-8 */

}


.btn-delete {
background: rgb(255,117,117); /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmNzU3NSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjYzJSIgc3RvcC1jb2xvcj0iI2Q4MzEyMiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNkYjI1MjUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  rgba(255,117,117,1) 0%, rgba(216,49,34,1) 63%, rgba(219,37,37,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,117,117,1)), color-stop(63%,rgba(216,49,34,1)), color-stop(100%,rgba(219,37,37,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(255,117,117,1) 0%,rgba(216,49,34,1) 63%,rgba(219,37,37,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(255,117,117,1) 0%,rgba(216,49,34,1) 63%,rgba(219,37,37,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(255,117,117,1) 0%,rgba(216,49,34,1) 63%,rgba(219,37,37,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(255,117,117,1) 0%,rgba(216,49,34,1) 63%,rgba(219,37,37,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff7575', endColorstr='#db2525',GradientType=0 ); /* IE6-8 */

color:white;}

.btn-delete:hover,.btn-delete:active {
	background: rgb(219,89,89); /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
border-color:#C20000;
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIzOCUiIHN0b3AtY29sb3I9IiNkYjU5NTkiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSI4MSUiIHN0b3AtY29sb3I9IiNjNDA2MDAiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjZDMxODAwIiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
background: -moz-linear-gradient(top, rgba(219,89,89,1) 38%, rgba(196,6,0,1) 81%, rgba(211,24,0,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(38%,rgba(219,89,89,1)), color-stop(81%,rgba(196,6,0,1)), color-stop(100%,rgba(211,24,0,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(219,89,89,1) 38%,rgba(196,6,0,1) 81%,rgba(211,24,0,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(219,89,89,1) 38%,rgba(196,6,0,1) 81%,rgba(211,24,0,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, rgba(219,89,89,1) 38%,rgba(196,6,0,1) 81%,rgba(211,24,0,1) 100%); /* IE10+ */
background: linear-gradient(to bottom, rgba(219,89,89,1) 38%,rgba(196,6,0,1) 81%,rgba(211,24,0,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#db5959', endColorstr='#d31800',GradientType=0 ); /* IE6-8 */
color:white;
}

.btn-submit {
background: rgb(72,138,219); /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzQ4OGFkYiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjYzJSIgc3RvcC1jb2xvcj0iIzFmNjZjNCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMyMjVkYWEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  rgba(72,138,219,1) 0%, rgba(31,102,196,1) 63%, rgba(34,93,170,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(72,138,219,1)), color-stop(63%,rgba(31,102,196,1)), color-stop(100%,rgba(34,93,170,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(72,138,219,1) 0%,rgba(31,102,196,1) 63%,rgba(34,93,170,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(72,138,219,1) 0%,rgba(31,102,196,1) 63%,rgba(34,93,170,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(72,138,219,1) 0%,rgba(31,102,196,1) 63%,rgba(34,93,170,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(72,138,219,1) 0%,rgba(31,102,196,1) 63%,rgba(34,93,170,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#488adb', endColorstr='#225daa',GradientType=0 ); /* IE6-8 */


color:white;}

.btn-submit:hover,.btn-submit:active {
background: rgb(72,138,219); /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSI0OSUiIHN0b3AtY29sb3I9IiM0ODhhZGIiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSI2MyUiIHN0b3AtY29sb3I9IiMxZjY2YzQiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjMjI1ZGFhIiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
background: -moz-linear-gradient(top,  rgba(72,138,219,1) 49%, rgba(31,102,196,1) 63%, rgba(34,93,170,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(49%,rgba(72,138,219,1)), color-stop(63%,rgba(31,102,196,1)), color-stop(100%,rgba(34,93,170,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(72,138,219,1) 49%,rgba(31,102,196,1) 63%,rgba(34,93,170,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(72,138,219,1) 49%,rgba(31,102,196,1) 63%,rgba(34,93,170,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(72,138,219,1) 49%,rgba(31,102,196,1) 63%,rgba(34,93,170,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(72,138,219,1) 49%,rgba(31,102,196,1) 63%,rgba(34,93,170,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#488adb', endColorstr='#225daa',GradientType=0 ); /* IE6-8 */
color:white;
}

span.btn-minor-action {
	color:blue;
	font-size:13px;
	cursor:pointer;
}

.left {
	float:left;
	width:49%;
}

.right {
	float:right;
	width:49%;
}

.content-right {
	text-align:right;
}

.content-left {
	text-align:left;
}

label {
    text-align: right;
}

.error-box {
	border-radius:.2em;
	border:solid 1px #F4A122;
	background-color:#FFE3C3;
	color:#C90704;
	font-size:15px;
	padding:10px;
	margin-bottom:20px;
}

.error-box img {
	float:right;
	position:relative;
	top:-5px;
	right:-5px;
}

.error-message {
	margin-top:5px;
	margin-left:5px;
}

.form-error-message {
	margin-left:5px;
	font-size:80%;
	color:red;
}

/* end general */

/* header */

#header{
    z-index:2;
    position:relative;
    /*background-color: #303030;*/
    background-color:#FFF;
    border-bottom:1px solid silver;
    -moz-box-shadow: 0px 2px 5px #888;
    -webkit-box-shadow: 0px 2px 5px #888;
    box-shadow: 0px 2px 5px #888;
}

#header-wrapper{
    background-color:#FFF;
    /*background-color: #303030;*/
}

header {
    position:relative;
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
    padding-bottom: 10px;
    height:22px;
}

/* header. navigation bar */

header nav {
    float: right;
}

header nav ul, nav ul li {
    margin: 0;
    list-style: none;
    list-style-image: none;
}

header nav ul li {
    display: block;
    margin-right: 20px;
    font-size: 90%;
    float: left;
}


header nav ul li a, a:active, a:visited {
    
    text-align:center;
    display: block;
    color: #EE008A;
    white-space: nowrap;
    padding-top: 5px;
    margin-top: 3px;
}


a.logo {
	position:absolute;
    background: url(../img/gear-icon.png) no-repeat 0 0;
    display: block;
    height: 20px;
    width: 270px;
    border: none;
    padding: 0px;
    float: left;
    color: white;
    line-height:20px;
    margin-top:5px;
}

a.logo h1{
    margin-left:24px;
    font-weight:normal;
    font-size:medium;
    color:#EE008A;
}

/* end header.navigation-bar */
/* end header */

/* content */
#content {
    z-index:1;
    position:relative;
}

#content-wrapper{
    margin-top:3px;
}
#content-detail {
	max-width: 900px;
	min-height: 400px;
	width: 100%;
	margin: -5px auto;
	position: relative;
	padding: 30px 20px 30px 30px;
	background-color: white;
	-moz-box-shadow: 0px 4px 7px #888;
	-webkit-box-shadow: 0px 4px 7px #888;
	box-shadow: 0px 4px 7px #888;
	border-radius:.2em;
}
.page-action {
	position:absolute;
	float:right;
	display:block;
	right:20px;
	top:40px;
}

/* end content */

/* login */
.login-message {
	font-size:15px;
	line-height:130%;
}
.login-box h2 {
	font-weight:lighter;
}
.login-box {
	font-weight:normal;
	border:solid 1px silver;
	background-color:#FAFAFA;
	width:30%;
	padding:30px;
	border-radius:.2em;
}
.login-box label{
	font-size:small;
	font-weight:bold;
	padding-bottom:5px;
	display:block;
	text-align:left;
}
.login-box .input-text {
	width:100%;
	font-size:15px;
	font-weight:100;
	padding-bottom:10px;
	margin-bottom:15px;
	font-weight:100;
}
.login-box .button {
	font-size:14px;
	height:30px;
}
.login-box .remember-password {
	font-size:13px;
}
/* end login */

/* report */
/* report filter */
div.report-filter {
	margin-bottom:10px;
	font-size:13px;
}
div.report-filter fieldset {
	border: solid 1px silver;
	border-left: none;
	border-right: none;
}
div.report-filter fieldset legend {
	color:#555;
	font-size:85%;
}
/* end report filter */
/*report items*/
div.report-items {
	margin-bottom:10px;
}

div.report-items  .edit-button,
div.report-items  .edit-button:active,
div.report-items  .edit-button:hover{
	width:16px;
	height:16px;
	background-image:url(../img/edit.png);
	display:inline-block;
}

div.report-items  .delete-button,
div.report-items  .delete-button:active,
div.report-items  .delete-button:hover{
	width:11px;
	height:14px;
	background-image:url(../img/delete.gif);
	display:inline-block;
}
div.report-items table {
	border-width: 1px;
	border-spacing: 0px;
	border-style: solid;
	border-color: #555;
	border-collapse: collapse;
	background-color: white;
	font-size:85%;
	width:100%;
	border-left:none;
	border-right:none;
}
div.report-items table th{
	text-align:left;
	min-height:50px;
	padding:5px;
	border-width: 1px;
	border-style: solid;
	border-color: silver;
	background-color: #FDFDFD;
	font-weight:normal !important;
	padding-left:20px;
	border-left:none;
	border-right:none;
}
div.report-items table td {
	vertical-align: top;
	border-width: 1px;
	border-style: solid;
	border-color: silver;
	text-align:left;
	background-color:white;
	padding:5px;
	border-left:none;
	border-right:none;
}
div.report-items table td img {
	height:90px;
	width:auto;
	max-width:200px;
}
div.report-items table tr.even td{
    background-color:#FEF0FF;
}
div.report-items table th.header {
    background-position:0% center !important;
    background-image: url(../img/asc-desc.gif);     
    cursor: pointer; 
    font-weight: bold; 
    background-repeat: no-repeat; 
    background-position: center left;
}

div.report-items table th.headerSortUp {
    background-position:0% 50% !important;
    background-image: url(../img/asc.gif);
}

div.report-items table th.headerSortDown {
    background-position:0% 50% !important;
    background-image: url(../img/desc.gif);
}

/* end report items */
/* report action */
div.report-action {
	font-size:13px;
	margin-bottom:10px;
}
div.report-action fieldset {
	border: solid 1px silver;
	border-left: none;
	border-right: none;
}
div.report-action fieldset legend {
	color:#555;
	font-size:85%;
}
/* end report action */
/* end report */