#content-order-history{
	max-width:1000px;
	position:relative;
	width: 100%;
	margin: 0 auto;
	vertical-align:middle;	
	padding-top:5px;
	padding-left:30px;
	padding-bottom:30px;
	margin-top:10px;
	border:1px solid #CFCFCF;
}

#content-order-history #order-history-head{
	margin:0 auto;
	position:relative;
	width:90%;
	text-align:left;
	padding-top:30px;	
	padding-bottom:20px;
	border-bottom: 2px solid #FFFFFF;
}
#content-order-history #order-history-head span{
	font-weight:bold;
	font-size:190%;
	font-family:Sans-serif;
	color:#4F4F4F;
}

#content-order-history #order-history-head img{
	margin-right: 500px;
	margin-left: 20px;	
}

#main-order-history{
	margin: 0 auto;
	position: relative;
	width: 95%;
	vertical-align: middle;
	padding-top: 30px;
	margin-top: 10px;
	padding-bottom: 30px;
	padding-left: 45px;	
	padding-right: 5px;
}

#main-order-history #member_profile{
	margin: 0 auto;
	position: relative;
	width: 95%;
	vertical-align: middle;
	padding-bottom:20px;
}

#main-order-history #order-history-main{
	margin: 0 auto;
	position: relative;
	width: 95%;
	vertical-align: middle;
	padding-bottom:20px;
}

#member_profile #customer-head{
	display:inline-block;
	
	width:15%;
}

#member_profile #customer-detail{
	display:inline-block;
	
	width:30%;
}

#member_profile #customer-head label{
	display:block;
	line-height:150%;
	font-family:Sans-serif;
}

#member_profile #customer-detail label{
	display:block;
	line-height:150%;
	font-family:Sans-serif;
}

#main-order-history #member_profile .head{
	font-size:150%;
	font-weight:bold;
	display:block;
}

.order-history-main .report-items{
	padding-left:90px;
}

input[type="image"]{
width: 17px ;
height: 17px ;
}

div.order-history-main table {
	display:block;		
	border-collapse: collapse;	
	font-size:85%;
	width:100%;
	border-left:none;
	border-right:none;
	margin-top:5px;
	margin-left:45px;
}
div.order-history-main table th{
	text-align:left;
	min-height:50px;
	padding:5px;
	border-width: 1px;
	border-style: solid;
	border-color: silver;
	background-color: #FDFDFD;
	font-weight:normal !important;
	padding-left:20px;
	border-left:none;
	border-right:none;
}
div.order-history-main table td {
	vertical-align: top;
	border-width: 1px;
	border-style: solid;
	border-color: silver;
	text-align:left;
	background-color:white;
	padding:5px;
	border-left:none;
	border-right:none;
}
div.order-history-main table td img {
	height:90px;
	width:auto;
	max-width:200px;
}
div.order-history-main table tr.even td{
    background-color:#EFEFEF;
}
div.order-history-main table th.header {
    background-position:0% center !important;
    background-image: url(../img/asc-desc.gif);     
    cursor: pointer; 
    font-weight: bold; 
    background-repeat: no-repeat; 
    background-position: center left;
}

div.order-history-main table th.headerSortUp {
    background-position:0% 50% !important;
    background-image: url(../img/asc.gif);
}

div.order-history-main table th.headerSortDown {
    background-position:0% 50% !important;
    background-image: url(../img/desc.gif);
}

div.table_page_order_history{
	display:none;
}

