#payment-head{
	max-width:1000px;
	position:relative;
	width: 100%;
	margin: 0 auto;
	vertical-align:middle;
	padding-bottom:50px;
	padding-top:20px;
}

#payment-head #header-logo{
	float:left;
	padding-bottom:30px;
}

.head-step1{
	display:inline-block;
	font-family:Sans-serif;	
	padding-left:30px;
	color:#353535;
	margin-bottom:10px;
	float:right;
}

.head-step1 h1{
	line-height:180%;	
	font-size:170%;
	
	}
	
.head-step1 h5{
	font-size:90%;
	
}

.head-step2{
	display:inline-block;
	font-family:Sans-serif;	
	padding-left:30px;
	color:#A0A0A0;
	margin-bottom:10px;
	float:right;
}

.head-step2 h1{
	line-height:180%;	
	font-size:170%;
	
	}
	
.head-step2 h5{
	font-size:90%;
	
}

.head-step3{
	display:inline-block;
	font-family:Sans-serif;	
	padding-left:30px;
	color:#A0A0A0;
	margin-bottom:10px;
	float:right;
}

.head-step3 h1{
	line-height:180%;	
	font-size:170%;
	
	}
	
.head-step3 h5{
	font-size:90%;

}

.head-step4{
	display:inline-block;
	font-family:Sans-serif;	
	padding-left:30px;
	color:#A0A0A0;
	margin-bottom:10px;
	float:right;
}

.head-step4 h1{
	line-height:180%;	
	font-size:170%;
	
	}
	
.head-step4 h5{
	font-size:90%;
	
}

.content-right {
	text-align:right;
}

.button {
	font-family:inherit;
	margin:0px;
    font-weight:300;
    cursor:pointer;
    color:#333;
    line-height:25px;
    font-size:90% !important;
    text-align:center;
    display:inline-block;
    border:solid 1px silver;
    height:25px;
    padding:0px 5px 0px 5px;
    border-radius:.2em;
    background: rgb(255,255,255); /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjYzJSIgc3RvcC1jb2xvcj0iI2Y5ZjlmOSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmNGY0ZjQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(249,249,249,1) 63%, rgba(244,244,244,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(63%,rgba(249,249,249,1)), color-stop(100%,rgba(244,244,244,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(249,249,249,1) 63%,rgba(244,244,244,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(249,249,249,1) 63%,rgba(244,244,244,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(249,249,249,1) 63%,rgba(244,244,244,1) 100%); /* IE10+ */
    background: linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(249,249,249,1) 63%,rgba(244,244,244,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f4f4f4',GradientType=0 ); /* IE6-8 */
}

fieldset{
	max-width:1000px;
	position:relative;
	width: 100%;
	margin: 0 auto;
	vertical-align:middle;	
	padding-top:30px;
	padding-bottom:60px;
}

#step1{
	display:block;
}

#step2{
	display:none;
}

#step3{
	display:none;
}

#step4{
	display:none;
}

#main-step1{
	margin:0 auto;
	position:relative;
	width:23%;
	vertical-align:middle;	
	padding-top:5px;
	margin-top:10px;
	padding-bottom:30px;
	
}

#main-step1 label{
	display:block;
	margin-top:5px;
	margin-bottom:5px;
	font-family:Sans-serif;
	color:#282828;
	font-size:100%;
	line-height:180%;
}

#main-step1 input{
	width:230px;
	border:1px solid #bdbbbb;
	height:25px;
	line-height:180%;
}

legend{
	font-size:100%;
	color:797878;
}

#main-step1 input[type="submit"]{
	border: none;
	color: white;
	float:right;
	border-radius: .2em;
	color:#FFF;
	background:#6F6F6F;
	cursor: hand;cursor: pointer; 
	height:24px;
	width:110px;
	margin-top:10px;
	margin-left:2px;
	margin-right:2px;
	display:inline-block;
}

#main-step1 input[type="submit"]:hover{
	background:#4F4F4F;
	
}

#main-step2{
	margin:0 auto;
	position:relative;
	width:34%;
	vertical-align:middle;	
	padding-top:5px;
	margin-top:10px;
	padding-bottom:30px;
}

#main-step2 label{
	display:block;
	margin-top:10px;
	margin-bottom:5px;
	font-family:Sans-serif;
	color:#282828;
	font-size:100%;
}	

#main-step2 input{
	display:block;
	width:230px;
	border:1px solid #bdbbbb;
	height:25px;
	float:right;
	margin-top:7px;
}


#main-step2 tr td {
	padding:3px;	
	text-align:center;
	vertical-align:top;
	}

#postal-code{
	padding-top:125px;
}

#main-step2 textarea{
	margin-top:7px;
	display:inline-block;
	float:right;
	width:229px;
	height:100px;
	border:1px solid #bdbbbb;
}

#address-block{
	height:110px;
}

#main-step2 input[type="submit"]{
	border: none;
	color: white;
	float:right;
	border-radius: .2em;
	color:#FFF;
	background:#6F6F6F;
	cursor: hand;cursor: pointer; 
	height:24px;
	width:70px;
	margin-top:10px;
	margin-left:6px;
	margin-right:20px;
	display:inline-block;
}

#main-step2 input[type="submit"]:hover{
	background:#4F4F4F;
	
}

#main-step3{
	margin:0 auto;
	position:relative;
	width:90%;
	vertical-align:middle;	
	padding-top:5px;
	margin-top:10px;
	padding-bottom:30px;
}

#main-step3 #customer-info{
	display:block;
	float:left;
	width:70%;
}

#main-step3 #customer-head{
	display:inline-block;
	float:left;
}

#main-step3 #customer-detail{
	margin-top:5px;
	display:inline-block;
	float:left;
}

#customer-info .head{
	font-size:100%;
	font-family:Sans-serif;
	font-weight:bold;
	padding-bottom:5px;
}

#customer-info .sub-head{
	
	font-size:80%;
	font-family:Sans-serif;
	line-height:170%;
}

#main-step3 #customer-info label{
	display:block;
}

#main-step3 #order-info{
	display:block;
	float:left;
	width:30%;
}

#main-step3 #order-info label{
	display:block;
}

#order-info #order-head{
	display:inline-block;
	float:left;
}

#order-info #order-detail{
	margin-top:5px;
	display:inline-block;
	float:left;
}  

#order-info .head{
	font-size:100%;
	font-family:Sans-serif;
	font-weight:bold;
	padding-bottom:5px;
}

#order-info .sub-head{
	
	font-size:80%;
	font-family:Sans-serif;
	line-height:170%;
}

#top-main-step3{
	display:block;
	max-width:1000px;
	margin:0 auto;
	position:relative;
	padding-bottom:180px;
}

#main-step3 #product-detail{
	display:block;
}

#product-detail-table_3{
	margin-top:15px;
	margin-bottom:10px;
	border-collapse: collapse;
	width:100%;
	text-align:center;
	border-top:2px solid #ccc;
	font-family:Sans-serif;
}
#product-detail-table_4{
	margin-top:15px;
	margin-bottom:10px;
	border-collapse: collapse;
	border-top:2px solid #ccc;
	width:100%;
	text-align:center;
	
	font-family:Sans-serif;
}
#product-detail-table_3 th{
	font-size:100%;
	border-bottom: 2px solid #ccc;
}

#product-detail-table_3 td{
font-size:90%;
border-bottom: 1px solid #ccc;
color: #666;
background: #fff;
padding: 5px;
}

#product-detail-table_4 th{
	font-size:100%;
	border-bottom: 2px solid #ccc;
}

#product-detail-table_4 td{
font-size:90%;
border-bottom: 1px solid #ccc;
color: #666;
background: #fff;
padding: 5px;
}

#product-detail-table_3 tbody tr:hover td{
color: #222;
background: #EFEFEF;
}
#product-detail-table_4 tbody tr:hover td{
color: #222;
background: #EFEFEF;
}

#main-step3 #total-price{
	float:right;
	width:26%;
	margin-top:10px;
	line-height:120%;
	text-align:right;
	margin-right:30px;
}

#main-step3 #total-price label{
	display:block;
	font-size:95%;
	font-family:Sans-serif;
	
	line-height:150%;
}

#total-price #price-head{
	display:inline-block;
	float:left;
	margin-right:20px;
	margin-left:10px;
}

#total-price #price-detail{
	display:inline-block;
	float:right;
	text-align:right;	
}

#main-step3 input[type="submit"]{
	border: none;
	color: white;
	float:right;
	border-radius: .2em;
	color:#FFF;
	background:#6F6F6F;
	cursor: hand;cursor: pointer; 
	height:24px;
	width:110px;
	margin-top:10px;
	margin-left:2px;
	margin-right:2px;
	display:block;
}

#main-step3 input[type="submit"]:hover{
	background:#4F4F4F;
	
}


#main-step4{
	margin:0 auto;
	position:relative;
	width:90%;
	vertical-align:middle;	
	padding-top:5px;
	margin-top:10px;
	padding-bottom:30px;
}

#main-step4 #customer-info{
	display:block;
	float:left;
	width:70%;
}

#main-step4 #customer-head{
	display:inline-block;
	float:left;
}

#main-step4 #customer-detail{
	margin-top:5px;
	display:inline-block;
	float:left;
}

#main-step4 #customer-info .head{
	font-size:100%;
	font-family:Sans-serif;
	font-weight:bold;
	padding-bottom:5px;
}

#main-step4 #customer-info .sub-head{
	
	font-size:80%;
	font-family:Sans-serif;
	line-height:170%;
}

#main-step4 #customer-info label{
	display:block;
}

#main-step4 #order-info{
	display:block;
	float:left;
	width:30%;
}

#main-step4 #order-info label{
	display:block;
}

#main-step4 #order-info #order-head{
	display:inline-block;
	float:left;
}

#main-step4 #order-info #order-detail{
	margin-top:5px;
	display:inline-block;
	float:left;
}  

#main-step4 #order-info .head{
	font-size:100%;
	font-family:Sans-serif;
	font-weight:bold;
	padding-bottom:5px;
}

#main-step4 #order-info .sub-head{

	font-size:80%;
	font-family:Sans-serif;
	line-height:170%;
}

#top-main-step4{
	display:block;
	max-width:1000px;
	margin:0 auto;
	position:relative;
	padding-bottom:180px;
}

#main-step4 #product-detail{
	display:block;
}


#main-step4 #product-detail-table_4{
	margin-top:10px;
	margin-bottom:10px;
	border-collapse: collapse;
	width:100%;
	text-align:center;
	
	font-family:Sans-serif;
}

#main-step4 #product-detail-table_4 th{
	font-size:100%;
	border-bottom: 2px solid #ccc;
}

#main-step4 #product-detail-table_4 td{
font-size:90%;
border-bottom: 1px solid #ccc;
color: #666;
background: #fff;
padding: 5px;
}

#main-step4 #product-detail-table_4 tbody tr:hover td{
color: #222;
background: #EFEFEF;
}

#main-step4 #pay-attention{
	color:Red;
	display:inline-block;
	margin-top:30px;
	border:1px solid red;
	padding:10px;
}

#main-step4 #total-price{
	float:right;
	width:26%;
	margin-top:10px;
	line-height:120%;
	text-align:right;
	margin-right:30px;
}

#main-step4 #total-price label{
	display:block;
	font-size:95%;
	font-family:Sans-serif;
	
	line-height:150%;
}

#main-step4 #total-price #price-head{
	display:inline-block;
	float:left;
	margin-right:20px;
	margin-left:10px;
}

#main-step4 #total-price #price-detail{
	display:inline-block;
	float:right;
	text-align:right;	
}

#main-step4 input[type="submit"]{
	border: none;
	color: white;
	float:right;
	border-radius: .2em;
	color:#FFF;
	background:#6F6F6F;
	cursor: hand;cursor: pointer; 
	height:24px;
	width:110px;
	margin-top:10px;
	margin-left:2px;
	margin-right:2px;
	
}


#main-step4 input[type="submit"]:hover{
	background:#4F4F4F;
	
}
#after_confirm{
	float:right;
	width:26%;
	margin-top:10px;
	line-height:120%;
	text-align:right;
	margin-right:80px;
}
#btn_go_to_homepage{
	border: none;
	color: white;
	float:right;
	border-radius: .2em;
	color:#FFF;
	background:#6F6F6F;
	cursor: hand;cursor: pointer; 
	height:24px;
	display: none;
	width:250px;
	margin-top:10px;
	margin-left:2px;
	margin-right:2px;
}
.text_bold{
	font-weight: bold;
}

#invoice{
	font-size:10px;
	max-width: 1000px;
	position: relative;
	width: 80%;
	margin: 0 auto;
	vertical-align: middle;
	padding-top: 30px;
	padding-bottom: 60px;
}
#save_pdf{
	border: none;
	color: white;
	float:right;
	border-radius: .2em;
	color:#FFF;
	background:#6F6F6F;
	cursor: hand;cursor: pointer; 
	height:24px;
	display: none;
	width:250px;
	margin-top:10px;
	margin-left:2px;
	margin-right:2px;
}