#content-image{
	
	position:relative;
	float:left;
	width:50%;	
	margin-top:20px;
	
}

.main-image{
	border:1px solid #ACACAC;
	width:265px;
	height:345px;
	margin-left:70px
}

.main-image img{
	width:265px;
	height:345px;
}

.sub-image{
	position:relative;
	float:left;	
	margin-top:20px;
	margin-left:10px;
}

.sub-image img{
	border:1px solid #ACACAC;
	width:57px;
	height:74px;
	display:inline-block;
	float:left;
	margin-right:6px;
}

.sub-image ul li {
	display:inline-block;
	list-style-type:none;
}

#product-sub{
	margin-left:60px;
}

#content-product{
	position:relative;
	float:left;
	width:50%;	
	
}

#content-product #product-particular{
position:relative;
float:left;
width:100%;
border-bottom:2px solid #ACACAC;
padding-bottom:15px;

}

#product-particular #item-detail{
	font-size:80%;
	
}

#product-particular #detail-name img{
	width:200px;
	height:100px;
}

#product-particular #detail-price h2{
	
	color:Red;
	font-size:300%;
	line-height:100%;	
	
}

#product-particular #detail-price {
font-size:70%
}

#product-particular #detail-price h3{
	text-decoration:line-through;
	font-size:150%;
}

#product-particular #detail-product{
	width:100%;
}

#product-particular #detail-product h2{
	color:#000;
	font-size:80%;
	line-height:120%;
	font-weight:normal;
}

#content-product #product-sizecolor{
position:relative;
float:right;
width:100%;
border-bottom:1px solid #000;
padding-bottom:15px;
margin-top:5px;
}

#product-sizecolor #detail-size select{
	width:200px;
	margin-left:10px;
}

#product-sizecolor #detail-size a{
	border: none;
	color: white;
	float:right;
	border-radius: .2em;
	color:#FFF;
	background:#000;
	cursor: hand;cursor: pointer; 
	height:23px;
	width:80px;
	margin-left:2px;
	margin-right:4px;
	display:inline-block;
}

#product-sizecolor #detail-size a:hover{
	background:#4F4F4F;
}

#content-product #product-color h2{
	margin-top:15px;
	color:#9C9C9C;
	font-size:90%;
}

#content-product #product-color #color-image{
	margin-left:15px;
	margin-top:5px;
}

#content-product #product-color #color-image div{
	display:inline;
	float:left;
	margin-right:2px;
	width:10%;
	position:relative;
}

#content-product #product-color a{
	margin-left:5px;
}

#content-product #product-color #color-image{
	width: 380px;
	height: 35px;
	padding-top:2px;
}

#content-product #product-quantity{
position:relative;
float:left;
width:100%;
padding-bottom:15px;
margin-top:5px;
}

#content-product #product-quantity #ddl-product-quantity{	
		display: inline-block;
		float: left;
		margin-top: 5px;
}

#content-product #product-quantity div{
width: 65%;
float: left;
display: inline-block;}

#content-product #product-quantity h2{
	font-size:70%;
	color:#9C9C9C;
	
}
#content-product #product-quantity input{
	margin-left:3px;
	width:50px;
}

#content-product #product-quantity a{
	float:right;
	margin-top:5px;
}

#content-product #product-add {
position:relative;
float:right;
width:100%;
background-color:#111111;
color:#FFF;
text-align:center;
padding-top:5px;
padding-bottom:5px;
}

#content-product #product-add input[type="image"]{
	width: auto;
	height: auto;
}

#content-product #product-save{
	float:right;
	margin-top:10px;
}

#content-product #product-save input[type="image"]{
	width: auto;
	height: auto;
}


