#content-signin{	
	max-width:1000px;
	position:relative;
	width: 100%;
	margin: 0 auto;
	vertical-align:middle;	
	padding-top:5px;
	padding-left:30px;
	padding-bottom:30px;
	margin-top:10px;
}

#head-signin{
	margin:0 auto;
	position:relative;
	width:90%;
	text-align:left;
	padding-top:30px;	
	padding-bottom:20px;
	border-bottom: 2px solid #CDCDCD;
}

#head-signin span{
	font-weight: bold;
	font-size: 190%;
	font-family: Sans-serif;
	color: #4F4F4F;
	display: inline;
	position: relative;
	
}

#head-signin img{
	margin-right: 370px;
	margin-left: 20px;
	display: inline;
	position: relative;
}

#main-sigin-image{
	margin:0 auto;
	position:relative;
	width:65%;
	float:left;
	vertical-align:middle;	
	padding-top:10px;
	margin-top:10px;
	padding-bottom:20px;
}

#main-signin{
margin: 0 auto;
position: relative;
width: 25%;
vertical-align: middle;
padding-top: 30px;
margin-top: 10px;
padding-bottom: 30px;
float: left;
padding-left: 45px;
border: 1px solid #CFCFCF;
padding-right: 5px;
}

#main-signin label{
	display:block;
	margin-top:5px;
	margin-bottom:5px;
	font-family:Sans-serif;
	color:#000;
	font-size:100%;
}

#main-signin input[type="text"],input[type="password"]{
	display:block;	
	width:200px;
	height: 25px;
}



#main-signin input[type="submit"]{
	border: none;
	color: white;
	float:right;
	border-radius: .2em;
	color:#FFF;
	background:#6F6F6F;
	cursor: hand;cursor: pointer; 
	height:23px;
	width:80px;
	margin-left:2px;
	margin-right:50px;
	display:inline-block;
}

#main-signin input[type="submit"]:hover{
	background:#4F4F4F;
	
}

#main-signin input[type="checkbox"]{
	display: inline;
float: left;
margin-left: 2px;
vertical-align: bottom;
}

#main-signin h1{
display: block;
margin-top: 5px;
margin-bottom: 5px;
font-family: Sans-serif;
color: black;
font-size: 80%;
font-weight:normal;
padding-right: 5px;
}

#advantage-signin{
	float:left;
	position:relative;
	padding-left:20px;
	padding-top:10px;
	min-width:60%;
	height:100px;
}

.remember-password{
	font-size: 70%;
vertical-align: top;
padding-left: 10px;
}


.forget_password {
	font-size:70%;
	vertical-align:bottom;
	float:left;
	margin-top:17px;
}

#forget_password_view{
	margin-bottom:30px;
	display:none;
}

#forget_password_view label{
	margin-top:50px;
	font-size:80%;
}

#forget_password_view input[type="submit"]{
	float:right;
	width:100px;
	margin-top:5px;
}

#forget_password_view h1{
	font-size:70%;
	float:left;
	margin-top:10px;
	width:110%;
	padding-bottom:20px;
}

 
